.back-button svg {
    margin: 10px 15px;
    width: 35px;
    height: 35px;
    fill: gray;
  }
  
  .users-title {
    font-size: 1.5rem;
    padding: 35px 0px 10px 28px;
    font-weight: normal;
    color: #171717;
  }
  
  .users-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  
  .user {
    border-top: 2px solid #e2e5e9;
    padding: 25px 35px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
  .user-profile-picture {
    border-radius: 50%;
    max-width: 85px;
    max-height: 85px;
    overflow: hidden;
    margin: 0px 15px;
  }
  .user-profile-picture img {
    width: 100%;
    height: 100%;
  }
  
  .user-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 8px auto 10px;
  }
  .user-phone,
  .user-email {
    display: block;
    margin: 5px 0px;
    font-size: 1.1rem;
    color: #3d3d3db7;
  }
  .user-controls {
    position: absolute;
    right: 25px;
  }
  
  .user-control_link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* display: inline-block; */
    text-decoration: none;
    margin: 8px;
    transition: all 0.3s ease-out;
  }
  .user-view_link:hover {
    background-color: #e1eef7;
    transition: all 0.3s ease-out;
  }
  .user-edit_link:hover {
    background-color: #e0f2e8;
    transition: all 0.3s ease-out;
  }
  .user-delete_link:hover {
    background-color: #f5e1e7;
    transition: all 0.3s ease-out;
  }
  .user-control_link svg {
    width: 30px;
    height: 30px;
    fill: grey;
    transition: all 0.3s ease-out;
  }
  
  .user-view:hover {
    fill: #1da1f2;
    transition: all 0.3s ease-out;
  }
  .user-edit:hover {
    fill: #1ebf63;
    transition: all 0.3s ease-out;
  }
  
  .user-delete:hover {
    fill: #e2245e;
    transition: all 0.3s ease-out;
  }
  .search-container {
    margin: 15px 10px 10px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-box {
    border: 0px;
    font-size: 1.2rem;
    width: 100%;
    color: #171717;
  }
  .search-box::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3d3d3db7;
    opacity: 1; /* Firefox */
  }
  .search-box:focus {
    outline: none;
  }
  .user-add {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    display: inline-block;
  }
  
  .search-icon,
  .user-add svg {
    width: 30px;
    height: 30px;
    fill: grey;
    margin: 0px 5px;
    transition: all 0.3s ease-out;
  }
  
  .user-add svg:hover {
    fill: #1ebf63;
    transition: all 0.3s ease-out;
  }

  .showing-users {
    text-align: center;
    color: #171717;
    margin: 15px 0;
  }
  .showing-users button {
    color: #1da1f2;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
  }
  
  
  @media (max-width: 620px) {
    .user {
      padding: 25px 5px;
    }
    .user-profile-picture {
      width: 65px;
      height: 65px;
    }
    .user-name {
      font-size: 1rem;
    }
    .user-phone,
    .user-email {
      font-size: 0.95rem;
    }
    .user-controls {
      position: relative;
      right: -25%;
    }
    .user-control_link {
      -webkit-tap-highlight-color: transparent;
      width: 30px;
      height: 30px;
      margin: 8px 15px;
    }
    .user-control_link svg {
      width: 25px;
      height: 25px;
    }
  }
  