body {
  background-color: #f8f9fa;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  /* font-family: "sofia_prolight", sans-serif; */
}

.users-section {
  width: 100%;
  margin-top: 20px;
}
.users-container {
  max-width: 855px;
  min-height: 95vh;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.back-button {
  display: inline-block;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}